{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Main</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/examples/blog/blog.css">
</head>
<body>

<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="/">Welcome to myNet</a>
      </div>
      <div class="row flex-nowrap justify-content-between align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
        <input type="email" name="findEmail" id="findEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <a class="btn btn-sm btn-outline-secondary" href="/find/">Search</a>  

        <!-- <form action="/find_user/" class="form-find">
          <label for="findEmail" class="sr-only">Email address</label>
          <input type="email" name="findEmail" id="findEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <button class="btn btn-lg btn-primary btn-block" type="submit" >Search</button>
      </form> -->

        <a class="btn btn-sm btn-outline-secondary" href="/signup/">{{if.}}
          logged in as {{.}}
          {{ else }}
          Sign Up
          {{ end }}</a>
        {{if.}}
        <a class="btn btn-sm btn-outline-secondary" href="/logout/">
            Logout </a> 
            {{ end }}
        
        <label for="inputEmail" class="sr-only">Email address</label>
        {{if.}}
        <a class="btn btn-sm btn-outline-secondary" href="/post/">Post</a>
          {{ else }}

          {{ end }}
        
        <label for="inputEmail" class="sr-only">Email address</label>

      </div>
    </div>
  </header>
  </div>
  {{ end }}
