{{ define "index" }}

{{ template "header" . }}

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-10 px-0">
      <h1 class="display-4 fst-italic"> First try </h1>
      <p class="lead my-3">A journey of a thousand miles begins with a single step</p>
      <p class="lead mb-0"><a href="https://en.wikipedia.org/wiki/Laozi" class="text-white fw-bold">More...</a></p>
    </div>
  </div>
</main><!-- /.container -->

{{ template "footer" }}

{{ end }}
